body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 256px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);

}

.cell{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results{
    border-style: solid;
    margin-top: 16px;
    width: 200px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}