body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;

}

.cell{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results{
    border-style: solid;
    margin-top: 16px;
    
}